@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

@font-face {
  font-family: "Ortica";
  src: url("/fonts/Ortica-Light.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/fonts/Proxima-Nova-Bold.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("tff");
  font-display: block;
}
